dist
cache
.cache
coverage
node_modules

.DS_Store
.eslintcache
.changeset/README.md
*.tsbuildinfo

_fixtures

.idea
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json

src/configs/biome.ts
src/*.rule.d.ts
